body {
  background-color: #edc077;
}

#flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  height: 500px;
  margin: auto;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #757574;
}

#display {
  width: 100%;
  height: 6rem;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #d9d9d9;
  text-align: end;
  font-size: 3rem;
  word-wrap: break-word;
  letter-spacing: -1px;
}

#clear {
  width: 75%;
  height: 4rem;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0 auto;
  background-color: #fc5863;
}

#buttons {
  display: block;
  height: 50%;
  width: 100%;
}

.number-btn {
  width: 5rem;
  height: 3rem;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0.5rem;
  background-color: #d9d9d9;
}

.operator-btn,
.equals-btn,
.point-btn {
  width: 5rem;
  height: 3rem;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0.5rem;
  background-color: #a1a4f7;
}
